@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  object-fit: contain;
}

html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  font-family: "PT Sans", serif;
  font-size: 22px;
  line-height: 26px;
  background-color: #f2f2f2;
  color: #333333;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  overflow: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0 auto;
  width: 1200px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
}

.main-index,
.main-catalog {
  flex-grow: 1;
}

.page-header {
  padding: 0 70px;
}

.navigation {
  padding: 0 0 0 140px;
  display: flex;
  align-items: center;
  min-height: 64px;
  position: relative;
}

.navigation-link-home {
  align-self: start;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.navigation-link-home:focus {
  box-shadow: inset 0 0 3px 1px rgba(130, 179, 211, 0.5);
  outline: none;
}

.navigation-logo {
  display: block;
}

.navigation-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.navigation-list:first-of-type {
  margin: 0 0 0 28px;
}

.navigation-link {
  display: block;
  padding: 20px 16px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  text-decoration: none;
  position: relative;
  transition: 0.2s;
}

.navigation-link-current::after {
  content: "";
  display: block;
  border-bottom: 2px solid #756257;
  position: absolute;
  bottom: -1px;
  left: 16px;
  right: 16px;
}

.navigation-link:hover {
  color: #82b3d3;
}

.navigation-link:focus {
  box-shadow: inset 0 0 3px 1px rgba(130, 179, 211, 0.5);
  outline: none;
}

.navigation-link:active {
  color: #155b8a;
}

.navigation-user {
  margin-left: auto;
}

.navigation-user-image {
  width: 20px;
  height: 20px;
  display: block;
}

.navigation-user .navigation-link {
  padding: 22px 12px;
}

.navigation-user .navigation-link:hover {
  fill: #82b3d3;
}

.navigation-item-favourite {
  margin-right: 20px;
}

.navigation-item-favourite-count {
  font-size: 10px;
  line-height: 10px;
  color: #ffffff;
  background-color: #7db54f;
  position: absolute;
  top: 11px;
  right: 4px;
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  text-align: center;
  padding: 5px 2px;
}

.navigation-user .navigation-choice {
  padding: 8px 34px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #ffffff;
  background-color: #756157;
  text-transform: uppercase;
  border-radius: 4px;
}

.navigation-choice:hover,
.navigation-choice:focus {
  background-color: #615048;
}

.navigation-choice:active {
  color: rgba(255, 255, 255, 0.3);
}

.navigation-choice:disabled {
  background-color: #e5e5e5;
  cursor: auto;
}

.welcome {
  padding: 51px 0 82px;
  background: url("../images/index-background-bottom.svg") center calc(100% + 1px) no-repeat,
    url("../images/index-background.jpg") center/cover no-repeat;
  background-color: #3f5e72;
  color: #ffffff;
  text-align: center;
}

.welcome-image {
  display: block;
  margin: 0 auto;
}

.sedona-town {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 69px 30px 90px;
}

.sedona-town-title {
  max-width: 630px;
  margin: 0 0 25px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}

.sedona-town-reasons {
  max-width: 660px;
  margin: 0;
}

.advantages-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.advantages-item {
  padding: 103px 85px 20px;
  min-height: 384px;
  flex: 1;
}

.advantages-item-long .advantages-item {
  padding: 92px 85px 20px;
}

.advantages-item-long {
  grid-column: span 3;
  display: flex;
}

.advantages-item-title,
.advice-item-title {
  margin: 0 0 30px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
}

.advantages-item-title::after {
  content: "";
  margin: 30px auto;
  display: block;
  width: 60px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
}

.advantages-item-description {
  margin: 0;
  padding: 0;
}

.advantages-item-long .advantages-item-title,
.advantages-item-long .advantages-item-description {
  color: #ffffff;
}

.advantages-item-long .advantages-item-title::after {
  border-color: rgba(255, 255, 255, 0.3);
}

.advantages-item-description,
.advice-item-description {
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}

.advice-item {
  padding: 182px 85px 20px;
  min-height: 384px;
}

.advice-item-accomodation {
  background-image: url("../images/icons/house.svg");
  background-repeat: no-repeat;
  background-position: center 80px;
}

.advice-item-food {
  background-image: url("../images/icons/burger.svg");
  background-repeat: no-repeat;
  background-position: center 81px;
}

.advice-item-souvenirs {
  background-image: url("../images/icons/present.svg");
  background-repeat: no-repeat;
  background-position: center 78px;
}

.advice {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.subscription-on-background {
  background-image: url("../images/subscription-background.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-color: #3f5e72;
  color: #ffffff;
}

.advantages-item-primary {
  background-color: #82b3d3;
}

.advantages-item-secondary {
  background-color: #e6f0f6;
}

.advantages-item-secondary-light {
  background-color: #f0f6f9;
}

.advice-item-secondary-light {
  background-color: #f0f6f9;
}

.offer {
  padding: 96px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.offer-title {
  margin: 0 0 20px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}

.offer-description {
  margin: 0 0 54px;
  max-width: 592px;
}

.offer-link {
  padding: 8px 50px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  background-color: #756157;
  border-radius: 4px;
  transition: 0.2s;
}

.offer-link:hover,
.offer-link:focus {
  background-color: #615048;
  outline: none;
}

.offer-link:active {
  color: rgba(255, 255, 255, 0.3);
}

.offer-link:disabled {
  background-color: #e5e5e5;
  cursor: auto;
}

.subscription {
  padding: 97px 30px 104px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.subscription-title {
  margin: 0 0 20px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}

.subscription-description {
  margin: 0 0 54px;
  max-width: 475px;
}

.subscription-on-background .subscription-title {
  color: #ffffff;
}

.subscription-form {
  display: flex;
}

.subscription-form-input {
  width: 452px;
  padding: 14px 20px;
  font-family: "PT Sans", serif;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  border: none;
  background: #f2f2f2;
  border-radius: 4px 0 0 4px;
}

.subscription-form-input::placeholder {
  font-family: inherit;
}

.subscription-form-input:hover {
  background: #e6e6e6;
}

.subscription-form-input:focus {
  background: #e6e6e6;
  outline: none;
  box-shadow: 0 0 0 3px #83b3d3;
}

.subscription-form-input:active {
  outline: none;
  box-shadow: 0 0 0 2px #000000;
}

.subscription-form-submit {
  padding: 8px 50px;
  font-family: "PT Sans", serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #82b3d3;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  transition: 0.2s;
}

.subscription-form-submit:hover {
  background-color: #68a2ca;
}

.subscription-form-submit:focus {
  background-color: #68a2ca;
  outline: none;
}

.subscription-form-submit:active {
  color: rgba(255, 255, 255, 0.3);
}

.subscription-form-submit:disabled {
  background-color: #e5e5e5;
  cursor: auto;
}

.page-footer {
  padding: 45px 70px 35px;
  display: flex;
  text-align: center;
  justify-content: space-between;
}

.social {
  margin: 0;
  padding: 0;
  max-width: 141px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 47px;
  height: 40px;
}

.social-icon {
  fill: #83b3d3;
  transition: 0.2s;
}

.social-vk {
  width: 24px;
  height: 14px;
}

.social-telegram {
  width: 18px;
  height: 16px;
}

.social-youtube {
  width: 22px;
  height: 17px;
}

.social-link:hover .social-icon,
.social-link:focus .social-icon {
  fill: #68a2ca;
}

.social-link:focus {
  box-shadow: inset 0 0 3px 1px rgba(130, 179, 211, 0.5);
  outline: none;
}

.social-link:active .social-icon {
  fill: rgba(104, 162, 202, 0.3);
}

.page-footer-phone {
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-decoration: none;
  transition: 0.2s;
}

.page-footer-phone:hover {
  color: #756157;
}

.page-footer-phone:focus {
  color: #756157;
  box-shadow: inset 0 0 3px 1px rgba(130, 179, 211, 0.5);
  outline: none;
}

.page-footer-phone:active {
  color: rgba(117, 97, 87, 0.3);
}

.page-footer-logo {
  margin-top: 4px;
  width: 115px;
  height: 33px;
  display: block;
}

.page-footer-link:hover .page-footer-logo {
  fill: #756157;
}

.page-footer-link:focus .page-footer-logo {
  fill: #756157;
}

.page-footer-link:focus {
  box-shadow: inset 0 0 3px 1px rgba(130, 179, 211, 0.5);
  outline: none;
}

.page-footer-link:active .page-footer-logo {
  fill: rgba(117, 97, 87, 0.3);
}

.catalog-filters {
  padding: 35px 70px 73px;
  background-image: url("../images/filter.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #3f5e72;
  color: #ffffff;
}

.catalog-filters-header-title {
  margin: 0 0 8px 0;
  padding: 0;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}

.breadcrumbs {
  margin: 0 0 40px 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  list-style: none;
}

.breadcrumbs-item {
  font-size: 16px;
  line-height: 21px;
}

.breadcrumbs-item:not(:last-child) {
  margin-right: 10px;
  display: flex;
  align-items: center;
}

.breadcrumbs-item:not(:last-child)::after {
  content: "";
  margin-left: 10px;
  display: block;
  width: 8px;
  height: 21px;
  background: url("../images/icons/breadcrumbs.svg") center center/contain no-repeat;
}

.breadcrumbs-item-home:not(:last-child)::after {
  margin-left: 2px;
}

.breadcrumbs-link {
  color: #ffffff;
  text-decoration: none;
}

.breadcrumbs-link-home {
  position: relative;
  left: -4px;
  width: 21px;
  height: 21px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}

.breadcrumbs-link:hover .breadcrumbs-icon {
  fill: rgba(255, 255, 255, 0.8);
}

.breadcrumbs-link:focus {
  box-shadow: inset 0 0 3px 1px rgba(255, 255, 255, 0.9);
  outline: none;
}

.breadcrumbs-icon {
  width: 13px;
  height: 15px;
  display: block;
  fill: #ffffff;
}

.catalog-filters-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 32px;
}

.catalog-filters-label {
  position: relative;
  padding-left: 36px;
  font-size: 18px;
  line-height: 23px;
}

.catalog-filters-label:not(:last-child) {
  margin-bottom: 16px;
}

.catalog-filters-label:hover {
  opacity: 0.6;
}

.catalog-filters-label:focus {
  outline: none;
}

.catalog-filters-checkbox:focus + .catalog-filters-mark,
.catalog-filters-radio:focus + .catalog-filters-mark {
  box-shadow: 0 0 0 3px #83b3d3;
}

.catalog-filters-label:active {
  opacity: 0.3;
}

.catalog-filters-mark {
  position: absolute;
  top: 2px;
  left: 0;
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  background-color: #ffffff;
}

.catalog-filters-mark-radio {
  border-radius: 50%;
}

.catalog-filters-mark-radio::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  width: 10px;
  height: 10px;
  background-color: #3f5e72;
  border-radius: 50%;
}

.catalog-filters-checkbox:checked + .catalog-filters-mark {
  background: #ffffff url("../images/icons/check.svg") center center no-repeat;
}

.catalog-filters-radio:checked + .catalog-filters-mark-radio::before {
  display: block;
}

.catalog-filters-checkbox:disabled + .catalog-filters-mark,
.catalog-filters-radio:disabled + .catalog-filters-mark-radio {
  opacity: 0.5;
  cursor: auto;
}

.catalog-filters-form {
  display: flex;
  justify-content: space-between;
  column-gap: 70px;
}

.catalog-filters-group {
  padding: 0;
  margin: 0;
  width: 150px;
  display: flex;
  flex-direction: column;
  border: none;
}

.catalog-filters-group-price {
  width: 288px;
  margin-left: auto;
}

.range-wrapper-inputs {
  display: flex;
  column-gap: 2px;
}

.range-input {
  padding: 12px 44px 12px 20px;
  width: 100%;
  font-family: "PT Sans", serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  background: #f2f2f2;
  border: none;
  appearance: textfield;
}

.range-input-wrapper {
  position: relative;
  width: 50%;
}

.range-input-wrapper::after {
  content: "от";
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.3);
}

.range-input-wrapper:last-child::after {
  content: "до";
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.range-input-wrapper:first-of-type .range-input {
  border-radius: 4px 0 0 4px;
}

.range-input-wrapper:last-of-type .range-input {
  border-radius: 0 4px 4px 0;
}

.range-input:hover {
  background: #e6e6e6;
}

.range-input:focus {
  background: #e6e6e6;
  outline: none;
  box-shadow: 0 0 0 3px #83b3d3;
}

.range-input:active {
  outline: none;
  box-shadow: 0 0 0 2px #000000;
}

.range-scale {
  position: relative;
  margin-top: 44px;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.3);
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: #ffffff;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.range-toggle:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.range-toggle:focus {
  outline: none;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25), 0 0 0 3px #83b3d3;
}

.range-toggle:active {
  box-shadow: 0 7px 15px rgba(0, 0, 0, 0.4), 0 0 0 2px #83b3d3;
}

.toggle-min {
  top: -8px;
  left: -10px;
}

.toggle-max {
  top: -8px;
  right: -10px;
}

.catalog-filters-buttons {
  margin-top: auto;
  width: 191px;
}

.catalog-filters-submit,
.catalog-filters-reset {
  padding: 8px 10px;
  max-width: 191px;
  width: 100%;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #82b3d3;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.catalog-filters-submit {
  margin-bottom: 30px;
}

.catalog-filters-submit:hover {
  background: #68a2ca;
}

.catalog-filters-submit:focus {
  background: #68a2ca;
  outline: none;
}

.catalog-filters-submit:active {
  color: rgba(255, 255, 255, 0.3);
}

.catalog-filters-submit:disabled {
  background-color: #e5e5e5;
  cursor: auto;
}

.catalog-filters-reset {
  background: transparent;
  position: relative;
  top: 3px;
}

.catalog-filters-reset:hover {
  color: rgba(255, 255, 255, 0.6);
}

.catalog-filters-reset:focus {
  box-shadow: 0 0 0 3px #83b3d3;
  outline: none;
}

.catalog-filters-reset:active {
  color: rgba(255, 255, 255, 0.3);
}

.catalog-filters-reset:disabled {
  color: rgba(255, 255, 255, 0.1);
  cursor: auto;
}

.products {
  padding: 50px 70px 60px;
}

.products-header {
  margin: 0 0 40px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.products-result {
  margin: 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}

.products-sorting {
  margin-left: auto;
  padding: 11px 44px 11px 16px;
  width: 292px;
  font-family: inherit;
  font-size: 18px;
  line-height: 21px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  appearance: none;
  background: url("../images/icons/sorting.svg") calc(100% - 19px) center no-repeat;
}

.products-sorting:hover {
  border-color: #68a2ca;
}

.products-sorting:focus {
  border-color: #68a2ca;
  outline: none;
}

.products-sorting:active {
  border-color: #3f5e72;
}

.products-sorting:disabled {
  border-color: rgba(0, 0, 0, 0.3);
  color: rgba(0, 0, 0, 0.3);
  cursor: auto;
}

.products-view {
  margin-left: 70px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.products-button {
  margin: 0 8px 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  text-decoration: none;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
}

.products-button-current {
  border-color: #000000;
}

.products-button:last-child {
  margin-right: 0;
}

.products-button-icon {
  width: 16px;
  height: 14px;
}

.products-button:hover,
.products-button:active {
  border-color: #000000;
}

.products-button:focus {
  border-color: #68a2ca;
  outline: none;
}

.products-grid {
  margin: 0 0 39px;
  padding: 0 0 40px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 20px;
  row-gap: 18px;
  border-bottom: 1px solid #e6e6e6;
}

.products-card {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 20px;
  row-gap: 16px;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
}

.products-card-image {
  margin: 0 0 16px;
  display: block;
}

.products-card-link {
  grid-column: 1/-1;
  text-decoration: none;
}

.products-card-title {
  margin: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-decoration: none;
}

.products-card-type {
  font-size: 18px;
  line-height: 21px;
}

.products-card-price {
  justify-self: end;
  font-size: 18px;
  line-height: 21px;
}

.products-card-more,
.products-card-favourite {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  border-radius: 4px;
  border: none;
  background-color: #82b3d3;
  cursor: pointer;
}

.products-card-favourite:hover {
  background: #68a2ca;
}

.products-card-favourite:focus {
  background: #68a2ca;
  outline: none;
}

.products-card-favourite:active {
  color: rgba(255, 255, 255, 0.3);
}

.products-card-favourite:disabled {
  background-color: #e5e5e5;
  cursor: auto;
}

.products-card-more {
  padding: 8px;
  text-align: center;
  background-color: #756157;
}

.products-card-more:hover {
  background: #615048;
}

.products-card-more:focus {
  background: #615048;
  outline: none;
}

.products-card-more:active {
  color: rgba(255, 255, 255, 0.3);
}

.products-card-more:disabled {
  background-color: #e5e5e5;
  cursor: auto;
}

.products-card-favourite-active {
  border: none;
  background-color: #7db54f;
}


.products-card-favourite-active:hover {
  background: #6c9e42;
}

.products-card-favourite-active:focus {
  background: #6c9e42;
  outline: none;
}

.products-card-favourite-active:active {
  color: rgba(255, 255, 255, 0.3);
}

.products-card-favourite-active:disabled {
  background-color: #e5e5e5;
  cursor: auto;
}

.products-card-stars-four {
  background: url("../images/icons/star.svg") 0 center,
    url("../images/icons/star.svg") 24px center,
    url("../images/icons/star.svg") 48px center,
    url("../images/icons/star.svg") 72px center;
  background-repeat: no-repeat;
}

.products-card-stars-three {
  background: url("../images/icons/star.svg") 0 center,
    url("../images/icons/star.svg") 24px center,
    url("../images/icons/star.svg") 48px center;
  background-repeat: no-repeat;
}

.products-card-stars-two {
  background: url("../images/icons/star.svg") 0 center,
    url("../images/icons/star.svg") 24px center;
  background-repeat: no-repeat;
}

.products-card-rating {
  padding: 9px 5px 8px;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  background-color: #f2f2f2;
  border-radius: 4px;
}

.pagination-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  align-items: center;
  text-align: center;
}

.pagination-link {
  padding: 12px 3px;
  display: block;
  min-width: 60px;
  min-height: 60px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-decoration: none;
  color: #ffffff;
  background-color: #82b3d3;
  border-radius: 4px;
}

.pagination-link:hover {
  background: #68a2ca;
}

.pagination-link:focus {
  background: #68a2ca;
  outline: none;
}

.pagination-link:active {
  color: rgba(255, 255, 255, 0.3);
}

.pagination-link-current {
  color: #000000;
  background-color: #f2f2f2;
}

.pagination-link-current:hover {
  background-color: #f2f2f2;
}

.pagination-item-dots {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 60px;
  min-height: 60px;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background: rgba(242, 242, 242, 0.8);
  z-index: 3;
}

.modal-container-close {
  display: none;
}

.modal {
  position: relative;
  margin: auto;
  padding: 64px 70px;
  background-color: #ffffff;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
}

.modal-search {
  width: 717px;
}

.modal-close-button {
  position: absolute;
  padding: 0;
  top: 64px;
  right: 52px;
  width: 52px;
  height: 52px;
  background-color: #f2f2f2;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.2s;
}

.modal-close-button::before,
.modal-close-button::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 20px;
  height: 2px;
  background-color: #000000;
  transform: translate(-50%, -50%) rotate(45deg);
}

.modal-close-button::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.modal-close-button:hover {
  background-color: #e6e6e6;
}

.modal-close-button:focus {
  background-color: #e6e6e6;
  outline: 3px solid #83b3d3;
}

.modal-close-button:active {
  background-color: #e6e6e6;
}

.modal-close-button:active::before,
.modal-close-button:active::after {
  background-color: rgba(0, 0, 0, 0.3);
}

.modal-close-button:disabled {
  background-color: #e5e5e5;
  cursor: auto;
}

.modal-title {
  margin: 0 0 64px;
  padding: 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.search-form-inline {
  margin: 0 0 23px 0;
  display: flex;
  column-gap: 18px;
}

.search-form-inline-wrapper {
  margin: 0 0 25px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search-form-inline-child {
  column-gap: 0;
}

.search-form-label {
  margin-top: 12px;
  flex-basis: 119px;
  flex-shrink: 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.search-form-label-child {
  flex-basis: 49px;
}

.search-form-input-wrapper {
  flex-grow: 1;
}

.search-form-input {
  margin: 0 0 4px 0;
  padding: 12px 60px 12px 20px;
  width: 100%;
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  background: #f2f2f2 url("../images/icons/calendar.svg") calc(100% - 20px) center no-repeat;
  border-radius: 4px;
  border: none;
}

.search-form-input:hover {
  color: rgba(0, 0, 0, 0.6);
  background-color: #e6e6e6;
}

.search-form-input:focus {
  color: rgba(0, 0, 0, 0.6);
  background-color: #e6e6e6;
  outline: none;
  box-shadow: 0 0 0 3px #83b3d3;
}

.search-form-input:active {
  box-shadow: 0 0 0 2px #000000;
}

.search-form-input:disabled {
  opacity: 0.5;
  cursor: auto;
}

.search-form-input-message {
  display: block;
  margin-left: 20px;
  font-size: 16px;
  line-height: 21px;
  color: #000000;
}

.search-form-input-message-error {
  color: #ff5757;
}

.search-form-input-number-wrapper {
  padding: 0 10px;
  display: flex;
  align-items: center;
  column-gap: 10px;
  border-radius: 4px;
  background: #f2f2f2;
}

.search-form-button {
  padding: 0;
  fill: rgba(117, 97, 87, 0.3);
  display: block;
  width: 20px;
  height: 20px;
  border: none;
  border-radius: 4px;
  background: #f2f2f2;
  cursor: pointer;
}

.search-form-button:hover {
  fill: #000000;
}

.search-form-button:focus {
  fill: #000000;
  outline: none;
  box-shadow: 0 0 0 3px #82b3d3;
}

.search-form-button:active {
  fill: rgba(0, 0, 0, 0.2);
}

.search-form-button:disabled {
  opacity: 0.3;
  cursor: auto;
}

.search-form-input-number {
  width: 31px;
  padding: 12px 3px;
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  border: none;
  background: #f2f2f2;
  text-align: center;
  appearance: textfield;
}

.search-form-input-number:hover {
  color: rgba(0, 0, 0, 0.6);
  background-color: #e6e6e6;
}

.search-form-input-number:focus {
  color: rgba(0, 0, 0, 0.6);
  background-color: #e6e6e6;
  outline: none;
  box-shadow: 0 0 0 3px #83b3d3;
}

.search-form-input-number:active {
  box-shadow: 0 0 0 2px #000000;
}

.search-form-input-number:disabled {
  opacity: 0.5;
  cursor: auto;
}

.search-form-input-number::-webkit-outer-spin-button,
.search-form-input-number::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.tooltip {
  margin: 0 46px 0 10px;
  position: relative;
  align-self: center;
}

.tooltip-toggle {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 26px;
  height: 26px;
  border: none;
  border-radius: 50%;
  background-color: #83b3d3;
}

.tooltip-toggle:hover + .tooltip-text,
.tooltip-toggle:focus + .tooltip-text {
  transform: translateX(-50%) scale(1);
}

.tooltip-icon {
  fill: #ffffff;
}

.tooltip-text {
  padding: 18px 18px 24px 22px;
  background-color: #333333;
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
  border-radius: 10px;
  position: absolute;
  top: 100%;
  margin-top: 15px;
  left: 50%;
  transform: translateX(-50%) scale(0);
  z-index: 1;
  width: 256px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
  transition: 0.2s;
}

.tooltip-text::after {
  content: "";
  width: 16px;
  height: 16px;
  position: absolute;
  transform: translateY(50%) rotate(45deg);
  bottom: 100%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  background: #333333;
}

.search-form-submit {
  padding: 18px;
  width: 100%;
  font-family: inherit;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  color: #ffffff;
  border: none;
  background: #83b3d3;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s;
}

.search-form-submit:hover {
  background-color: #68a2ca;
}

.search-form-submit:focus {
  background-color: #68a2ca;
  outline: none;
}

.search-form-submit:active {
  color: rgba(255, 255, 255, 0.3);
}

.search-form-submit:disabled {
  background-color: #e5e5e5;
  cursor: auto;
}
