@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}


@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  object-fit: contain;
}

html {
  height: 100%;
}

body {
  margin: 0;

  height: 100%;
  font-family: "PT Sans", serif;
  font-size: 22px;
  line-height: 26px;
  background-color: #f2f2f2;
  color: #333333;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  overflow: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0 auto;
  width: 1200px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
}

.main-index,
.main-catalog {
  flex-grow: 1;
}

.page-header {
  padding: 0 70px;
}

.navigation {
  display: flex;
  align-items: center;
  min-height: 64px;
}

.navigation-logo {
  margin-right: 28px;
  align-self: start;
  z-index: 2;
}

.navigation-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.navigation-link {
  display: block;
  padding: 20px 16px;
}

.navigation-user {
  margin-left: auto;
}

.navigation-user .navigation-link {
  padding: 22px 12px;
}

.navigation-user .navigation-choice {
  margin-left: 20px;
  padding: 8px 34px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #ffffff;
  background-color: #756157;
  text-transform: uppercase;
  border-radius: 4px;
}

.welcome {
  background-image: url("../images/index-background.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-color: #3f5e72;
  color: #ffffff;
  text-align: center;
}

.sedona-town {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 69px 30px 90px;
}

.sedona-town-title {
  max-width: 620px;
  margin: 0 0 25px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}

.sedona-town-reasons {
  max-width: 651px;
  margin: 0;
}

.advantages-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.advice {
  margin: 0;
  padding: 0;
  list-style: none;
}

.subscription-on-background {
  background-image: url("../images/subscription-background.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-color: #3f5e72;
  color: #ffffff;
}

.catalog-filters {
  background-image: url("../images/filter.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-color: #3f5e72;
  color: #ffffff;
}

.advantages-item-primary {
  background-color: #82b3d3;
}

.advantages-item-secondary {
  background-color: #e6f0f6;
}

.advantages-item-secondary-light {
  background-color: #f0f6f9;
}

.advice-item-secondary-light {
  background-color: #f0f6f9;
}

.navigation-link {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  text-decoration: none;
}

.navigation-item-favourite-count {
  font-size: 10px;
  line-height: 10px;
  color: #ffffff;
  background-color: #7db54f;
}

.advantages-item-title,
.advice-item-title {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
}

.advantages-item-description {
  margin: 0;
  padding: 0;
}

.advantages-item-long .advantages-item-title,
.advantages-item-long .advantages-item-description {
  color: #ffffff;
}

.advantages-item-description,
.advice-item-description {
font-size: 18px;
line-height: 21px;
text-align: center;
}

.advice-item-accomodation {
  background: url("../images/icons/house.svg");
  background-repeat: no-repeat;
}

.advice-item-food {
  background: url("../images/icons/burger.svg");
  background-repeat: no-repeat;
}

.advice-item-souvenirs {
  background: url("../images/icons/present.svg");
  background-repeat: no-repeat;
}

.offer {
  padding: 96px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.offer-title {
  margin: 0 0 20px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}

.offer-description {
  margin: 0 0 54px;
  max-width: 592px;
}

.offer-link {
  padding: 8px 50px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  background-color: #756157;
  border-radius: 4px;

}

.subscription {
padding: 96px 30px 104px;
display: flex;
flex-direction: column;
align-items: center;
text-align: center;
}

.subscription-title {
margin: 0 0 20px;
font-weight: 700;
font-size: 30px;
line-height: 36px;
text-transform: uppercase;
color: #000000;
}

.subscription-description {
  margin: 0 0 54px;
  max-width: 475px;
}

.subscription-on-background .subscription-title {
  color: #ffffff;
}

.subscription-form {
  display: flex;
}

.subscription-form-input {
  width: 452px;
  padding: 14px 20px;
  font-family: "PT Sans", serif;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  border: none;
  background: #f2f2f2;
  border-radius: 4px 0 0 4px;
}

.subscription-form-submit {
  padding: 8px 50px;
  font-family: "PT Sans", serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #82b3d3;
  border: none;
  border-radius: 0 4px 4px 0;
}

.page-footer {
  padding: 40px 70px 30px;
  display: flex;
  text-align: center;
  justify-content: space-between;
}

.social {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 47px;
  height: 40px;
}

.page-footer-phone {
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-decoration: none;
}

.catalog-filters-header-title {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}

.breadcrumbs {
  margin: 0;
  padding: 0;
  list-style: none;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
}

.catalog-filters-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.catalog-filters-label {
  font-size: 18px;
  line-height: 23px;
}

.catalog-filters-submit,
.catalog-filters-reset {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
}

.catalog-filters-submit {
  padding: 8px 50px;
  border: none;
  border-radius: 4px;
  background-color: #82b3d3;
}

.catalog-filters-reset {
  padding: 8px 57px;
  border: none;
  background: none;
}

.products {
  padding: 50px 70px 60px;
}

.products-header {
  margin: 0 0 40px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.products-result {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}

.products-sorting {
  margin-left: auto;
  padding: 14px 20px;
  font-size: 18px;
  line-height: 21px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
}

.products-view {
  margin-left: 70px;
  display: flex;
  align-items: center;
}

.products-button {
  margin: 0 8px 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  text-decoration: none;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
}

.products-button:last-child {
  margin-right: 0;
}

.products-grid {
  padding: 0 0 40px 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
  row-gap: 20px;
  border-bottom: 1px solid #e6e6e6;
}

.products-card {
  padding: 20px;
  display: flex;
  flex-direction: column;
  max-width: 340px;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
}

.products-card-link {
  text-decoration: none;
}

.products-card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-decoration: none;
}

.products-card-inline {
  font-size: 18px;
  line-height: 21px;
}

.products-card-more,
.products-card-favourite,
.products-card-favourite-active {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
}

.products-card-more {
  background-color: #756157;
}

.products-card-favourite {
  background-color: #82b3d3;
}
.products-card-favourite-active {
  background-color: #7db54f;
}

.products-card-rating {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  background-color: #f2f2f2;
}

.pagination-list {
  margin: 40px 0 0 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  text-align: center;
}

.pagination-link {
  margin: 0 8px 0 0;
  padding: 12px 0;
  display: block;
  width: 60px;
  height: 60px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-decoration: none;
  color: #ffffff;
  background-color: #82b3d3;
  border-radius: 4px;
}

.pagination-link-current {
  color: #000000;
  background-color: #f2f2f2;
}

.pagination-item-dots {
  margin: 0 8px 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
}
